<h1>Repositories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pull Requests</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= link_to repository.name, repository.html_url, target: '_blank' %></td>
        <td><%= repository.pull_requests.count %></td>
        <td><%= repository.comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
