<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Pull Requests</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @github_users.each do |github_user| %>
      <tr>
        <td>
          <%= link_to github_user.login,
            "https://www.github.com/#{github_user.login}", target: '_blank' %>
        </td>
        <td>
          <%= link_to github_user.pull_requests_count,
            pull_requests_path(search: { user_id: github_user.id }) %>
        </td>
        <td>
          <%= link_to github_user.comments_count,
            comments_path(search: { user_id: github_user.id }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
